@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@font-face {
    font-family: 'Inter';
    src: url();
}

html{
    scroll-behavior: smooth;
}

body{
    @apply bg-zinc-900 text-zinc-50 h-[200vh];
}