@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@font-face {
    font-family: 'Inter';
    src: url();
}

html{
    scroll-behavior: smooth;
}

body{
    @apply bg-zinc-900 text-zinc-50 h-[200vh];
}

.menu-btn{
    @apply w-10 h-10 grid place-items-center  bg-zinc-50/10 rounded-xl ring-intet ring-1 ring-zinc-50/[0.02]
    backdrop-blur-2xl hover:bg-zinc-50/12 transition-[transform,background-color] active:scale-95;
    ;
}